* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(167, 212, 230);
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Nerko One', cursive;
}

clearfix::after {
    display: table;
    clear: both;
    content: "";
}

header div {
    text-align: center;
    font-size: 80px;
    color: white;
}

.container {
    width: 100%;
    height: 800px;
}

.row {
    height: calc(100% / 3);
    width: 100%;
    margin-bottom: 30px;
}

.row .col {
    border-radius: 20px;
    float: left;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: 1px solid black;
    height: 100%;
    width: calc((1024px - 60px) / 4);
}

.row .mem {
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: cover;
}

.text{
    text-align: center;
}

.row .margin {
    margin-right: 20px;
}

footer {
    text-align: center;
}